## Read a simple HTML table

In [1]:
from intake_html_table import HtmlTableSource

In [3]:
src = HtmlTableSource("examples/table.html")

In [4]:
df = src.read()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  3 non-null      object
 1   Column2  3 non-null      object
 2   Column3  3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [6]:
df.head()

        Column1       Column2       Column3
0  Row1 Column1  Row1 Column2  Row1 Column3
1  Row2 Column1  Row2 Column2  Row2 Column3
2  Row3 Column1  Row3 Column2  Row3 Column3

## Read an Apache Server directory

In [27]:
from intake_html_table import ApacheDirectoryCatalog

In [28]:
cat = ApacheDirectoryCatalog("https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/")

In [29]:
list(cat)

['parent',
 '1929',
 '1930',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '1940',
 '1941',
 '1942',
 ...]

In [30]:
list(cat['2021'])

['parent',
 '01001099999.csv',
 '01001499999.csv',
 '01002099999.csv',
 '01003099999.csv',
 '01006099999.csv',
 '01007099999.csv',
 '01008099999.csv',
 '01009099999.csv',
 ...]

In [32]:
df = cat['2021']['01001099999.csv'].read()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   STATION           184 non-null    int64
 1   DATE              184 non-null    object
 2   LATITUDE          184 non-null    float64
 3   LONGITUDE         184 non-null    float64
 4   ELEVATION         184 non-null    float64
 5   NAME              184 non-null    object
 6   TEMP              184 non-null    float64
 7   TEMP_ATTRIBUTES   184 non-null    int64
 8   DEWP              184 non-null    float64
 9   DEWP_ATTRIBUTES   184 non-null    int64
 10  SLP               184 non-null    float64
 11  SLP_ATTRIBUTES    184 non-null    int64
 12  STP               184 non-null    float64
 13  STP_ATTRIBUTES    184 non-null    int64
 14  VISIB             184 non-null    float64
 15  VISIB_ATTRIBUTES  184 non-null    int64
 16  WDSP              184 non-null    float64
 17  WDSP_ATTRIBUTES   184 non-null    int64
 18  MXSPD             184 non-null    float64
 19  GUST              184 non-null    float64
 20  MAX               184 non-null    float64
 21  MAX_ATTRIBUTES    184 non-null    object
 22  MIN               184 non-null    float64
 23  MIN_ATTRIBUTES    184 non-null    object
 24  PRCP              184 non-null    float64
 25  PRCP_ATTRIBUTES   184 non-null    object
 26  SNDP              184 non-null    float64
 27  FRSHTT            184 non-null    int64
dtypes: float64(15), int64(8), object(5)
memory usage: 40.4+ KB